/*Page Configs*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --main-color: #293042;
  --color-dark: #1d2231;
  --text-grey: #8390a2;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/*Sidebar*/

#sidebar-toggle {
  display: none;
}

.sidebar {
  height: 100%;
  width: 240px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background: var(--main-color);
  color: #fff;
  overflow-y: auto;
  transition: width 500ms;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0rem 1rem;
}
.brand {
  letter-spacing: 1px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 20px;
}
.sidebar-menu {
  padding: 1.5rem 1.5rem 0.375rem;
}

.sidebar li {
  margin-bottom: 1.5rem;
}

.sidebar a {
  color: #e9ecef;
  font-size: 15px;
  transition: 0.3s ease;
  font-weight: 400;
  line-height: 1.625;
  text-align: left;
}

.sidebar a:hover {
  color: rgb(182, 185, 196);
}

.sidebar a span:last-child {
  padding-left: 0.6rem;
}

/*Hamburger Menu*/
label {
  cursor: pointer;
}

#sidebar-toggle:checked ~ .sidebar {
  width: 60px;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
#sidebar-toggle:checked ~ .sidebar li span:last-child {
  display: none;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header,
#sidebar-toggle:checked ~ .sidebar li {
  display: flex;
  justify-content: center;
}

#sidebar-toggle:checked ~ .main-content {
  margin-left: 60px;
}

#sidebar-toggle:checked ~ header {
  left: 60px;
}

/*Main Content Header*/

.main-content {
  position: relative;
  margin-left: 240px;
  transition: margin-left 500ms;
}
header {
  position: fixed;
  display: flex;
  top: 0;
  z-index: 100;
  width: calc(100% - 240px);
  background: #fff;
  padding: 0rem 1.3rem;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  transition: left 500ms;
}

.user-name {
  text-align: right;
  float: left;
  padding-right: 20px;
  padding-top: 5px;
}
.user-name h3 {
  font-weight: 500;
}
.user-name a {
  transition: 0.3s ease;
  color: #747474;
}

.user-name a:hover {
  color: #1d2231;
}
.user-icon {
  float: right;
  width: 50px;
  height: 50px;
  background-image: url(./assets/user.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.user-icon:hover {
  box-shadow: 0 0 13px rgba(26, 26, 26, 0.3);
}

.ti-cloud {
  font-size: 26px;
}

/*Main Content*/
main {
  margin-top: 60px;
  background: #edf2f9;
  min-height: 90vh;
  padding: 2rem 4rem 2rem 4rem;
}

.dash-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 8rem;
}
.card-single {
  background: #fff;
  border-radius: 4px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
}

.card-body {
  justify-content: space-between;
  padding: 1.3rem 1rem;
  display: flex;
  align-items: center;
}

.card-body span {
  font-size: 1.5rem;
  color: #777;
  padding-left: 1rem;
}
.card-body h5 {
  color: var(--text-grey);
  font-size: 1.3rem;
}
.card-body h4 {
  color: var(--color-dark);
  margin-top: 0.5rem;
  font-size: 1rem;
}

/*Recent Customers Section*/

.recent {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.activity-card {
  background: #fff;
  border-radius: 4px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
}

.activity-grid h3 {
  color: var(--text-grey);
  margin-bottom: 1rem;
}

.activity-card table {
  width: 100%;
  border-collapse: collapse;
}

.activity-card thead {
  background: #efefef;
  text-align: left;
}
td {
  font-size: 1rem;
  padding: 0.9rem;
  color: var(--color-dark);
}

td:nth-child(1) {
  font-size: 1.2rem;
}
tbody tr:nth-child(even) {
  background: #f9fafc;
}

button {
  font-size: 15px;
  cursor: pointer;
  outline: none;
  padding: 0.5rem 1rem;
  background-color: #c7c7c7;
  border: none;
  margin: 5px;
  transition: 0.3s ease;
  border-radius: 50px;
}
button:first-child:hover {
  background-color: #8390a2;
}
.btn-details {
  background-color: #394155;
  color: rgb(230, 230, 230);
}
.btn-details:hover {
  background-color: #8390a2;
}

/*Media Queries*/
